* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#one {
    width: 100vw;
    height: 100%;
}

#two {
    width: 100vw;
    height: 100vw;
    background-color: black;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 70px;
    font-size: 2rem;
}

.ourtime {
    width: 90%;
    height: 500px;
    border: 1px solid black;
    font-size: 1.5rem;
    margin: auto;
}

.ourtime>p {
    margin-top: 20px;
    margin-left: 20px;
}

span {
    margin-right: 30%;
}

#inputs {
    display: flex;
    flex-direction: column;
}

button:hover {
    background-color: grey;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
        margin-left: 20px;
    }

    .ourtime {
        height: auto;
    }

    #inputs {
        margin-left: 20px;
    }

    #two {
        padding-top: 20px;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.2rem;
        margin-left: 10px;
    }

    .ourtime {
        font-size: 1rem;
    }

    #inputs {
        margin-left: 10px;
    }
}